

.services-section {
  width: 100%;
  padding: 80px 0;
  background:#efe2d9; 
}

.services-section .services-header {
  text-align: center;
  margin-bottom: 60px;
  animation: fadeUp 0.8s ease forwards;
  opacity: 0;
}

.services-section .services-header p {
  font-size: 0.9rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #A17867;
  margin-bottom: 10px;
  font-weight: 600;
}

.services-section .services-header h2 {
  font-size: 3rem;
  color: #2d221d;
  font-weight: 700;
}

